outputRaw/cluster1/CRMService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
This is the seekda cache of the WSDL definition available at http://sws-challenge.org/moon_v2/services/CRMService?WSDL.
seekdas cache is a snapshot that we took as we crawled the Web.
The service may have changed since the last crawl.
seekda is neither affiliated with the authors of this service nor responsible for its advertised functionality.

-->

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" 
xmlns:impl="mooncompany" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
targetNamespace="mooncompany" name="CRMService">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="mooncompany" targetNamespace="mooncompany" elementFormDefault="qualified">
			<xsd:element name="SearchCustomer" type="SearchCustomerType"/>
			<xsd:complexType name="SearchCustomerType">
				<xsd:sequence>
					<xsd:element name="searchString" type="xsd:string" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SearchCustomerResponse" type="SearchCustomerResponseType"/>
			<xsd:complexType name="SearchCustomerResponseType">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:long" nillable="false"/>
					<xsd:element name="roleCode" type="xsd:string" nillable="false"/>
					<xsd:element name="contactName" type="xsd:string" nillable="false"/>
					<xsd:element name="email" type="xsd:string" nillable="false"/>
					<xsd:element name="telephone" type="xsd:string" nillable="false"/>
					<xsd:element name="businessName" type="xsd:string" nillable="false"/>
					<xsd:element name="postalCode" type="xsd:string" nillable="false"/>
					<xsd:element name="city" type="xsd:string" nillable="false"/>
					<xsd:element name="street" type="xsd:string" nillable="false"/>
					<xsd:element name="countryCode" type="xsd:string" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SearchCustomerResponseMessage">
		<wsdl:part name="SearchCustomerResponse" element="impl:SearchCustomerResponse"/>
	</wsdl:message>
	<wsdl:message name="SearchCustomerRequestMessage">
		<wsdl:part name="SearchCustomerRequest" element="impl:SearchCustomer"/>
	</wsdl:message>
	<wsdl:portType name="CRMServicePortType">
		<wsdl:operation name="search">
			<wsdl:documentation>The search operation takes the name of the bussinesName of a customer and returns if known its details</wsdl:documentation>
			<wsdl:input message="impl:SearchCustomerRequestMessage"/>
			<wsdl:output message="impl:SearchCustomerResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CRMServiceSoapBinding" type="impl:CRMServicePortType">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="search">
			<wsdlsoap:operation soapAction="search"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CRMService">
		<wsdl:port name="CRMService" binding="impl:CRMServiceSoapBinding">
			<wsdlsoap:address location="http://sws-challenge.org/moon_v2/services/CRMService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

